//Padding mixin
@mixin padding($top: false, $right: false, $bottom: false, $left: false) {
    @if $top { padding-top: $top; }
    @if $right { padding-right: $right; }
    @if $bottom { padding-bottom: $bottom; }
    @if $left { padding-left: $left; }
}
@mixin transition($transition...) {
    transition: $transition;
    -o-transition: $transition;
    -ms-transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
}
//Margin mixin
@mixin margin($top: false, $right: false, $bottom: false, $left: false) {
    @if $top { margin-top: $top; }
    @if $right { margin-right: $right; }
    @if $bottom { margin-bottom: $bottom; }
    @if $left { margin-left: $left; }
}

@mixin space($type:margin, $direction:all, $amount:$medium) {
    @if $type==padding {
        @if $direction==all {
            padding: $amount;
        }
        @else if $direction==top {
            padding-top: $amount
        }
        @else if $direction==left {
            padding-left: $amount
        }
        @else if $direction==right {
            padding-right: $amount
        }
        @else {
            padding-bottom: $amount
        }
    }
    @else {
        @if $direction==all {
            margin: $amount;
        }
        @else if $direction==top {
            margin-top: $amount
        }
        @else if $direction==left {
            margin-left: $amount
        }
        @else if $direction==right {
            margin-right: $amount
        }
        @else {
            margin-bottom: $amount
        }
    }
}


@mixin font-size($size: false, $color: false, $weight: false,  $lh: false) {
    @if $size { 
        font-size: $size;
        font-size: calculateRem($size);
    }
    @if $color { color: $color; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
}


@mixin pseudo($pos: false, $top: false, $right: false,  $left: false,  $bottom: false, $z-indexes:false) {
    @if $pos { position: $pos; }
    @if $top { top: $top; }
    @if $right { right: $right; }
    @if $left { left: $left; }
    @if $bottom { bottom: $bottom; }
    @if $z-indexes { z-index: $z-indexes; }
}
